.button {
    background-color: #1574B4;
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    color: beige;
    text-decoration: none;
    margin-top: 20px;

    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 50px;
    transition: 0.3s;
}

.button:hover {
    background-color: #83A2FF;
    color: #8CCDB2;
}

.button2 {
    background-color: #FF8161;
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    color: beige;
    text-decoration: none;
    margin-top: 20px;

    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 50px;
    transition: 0.3s;
}
.button:hover {
    background-color: #FF9C92;
    color: #FFD2E0;
}

.button3 {
    background-color: #00FF92;
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    color: beige;
    text-decoration: none;
    margin-top: 20px;

    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 50px;
    transition: 0.3s;
}

.button:hover {
    background-color: #E0FF92;
    color: #79FF92;
}